
.bar {
    background: #eee;
    padding: 10px;
}

.empty {
    color: #aaa;
    display: block;
    font-size: 1.3em;
    padding: 30px;
    text-align: center;
}

.help {
    color: #888;
    padding: 10px;
    line-height: 1.3em;
}

.label-private {
    background-color: #c94501;
}

.label-public {
    background-color: #009900;
}

.table td .thumbnail {
    margin-bottom: 0;
}

#page {
    padding-top: 20px;
}

#login-buttons {
    height: 100%;
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
